<!-- extends home.html -->


<div class="d-flex progress-all justify-content-center mb-5">

    <!-- progress1 -->
        <div class="circle-wrap">
            <div class="outer">
                <div class="inner">
                    <div id="number" class="progress-percent">
                        65%
                    </div>
                </div>
            </div>
            
            <svg xmlns="https://w3.org/2000/svg" version="1.1" class="circle-svg" width="160px" height="160px">
                <defs>
                    <linearGradient id="Year">
                        <stop offset="0%" stop-color="#93F9B9"/>
                        <stop offset="100%" stop-color="#1D976C"/>
                    </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="circles" id="circle1"/>
            </svg>
            <p class="mt-4 goal-label">Annual Goal</p>
        </div>

    <!-- progress2 -->
        <div class="circle-wrap">
            <div class="outer">
                <div class="inner">
                    <div class="progress-percent">
                        75%
                    </div>
                </div>
            </div>

            <svg xmlns="https://w3.org/2000/svg" version="1.1" class="circle-svg" width="160px" height="160px">
                <defs>
                    <linearGradient id="Month">
                        <stop offset="0%" stop-color="#FFC837"/>
                        <stop offset="100%" stop-color="#FF8008"/>
                    </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="circles" id="circle2"/>
            </svg>
            <p class="mt-4 goal-label">Monthly Goal</p>
        </div>
        <!-- progress3 -->
        <div class="circle-wrap">
            <div class="outer">
                <div class="inner">
                    <div class="progress-percent">
                        90%
                    </div>
                </div>
            </div>

            <svg xmlns="https://w3.org/2000/svg" version="1.1" class="circle-svg" width="160px" height="160px">
                <defs>
                    <linearGradient id="Week">
                        <stop offset="0%" stop-color="#F45C43"/>
                        <stop offset="100%" stop-color="#EB3349"/>
                    </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="circles" id="circle3"/>
            </svg>
            <p class="mt-4 goal-label">Custom Goal</p>
        </div>
    </div>